:root{
    --primary-color: #e2b9f6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900*/

.playfair-display p {
  font-family: Playfair Display, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.body {
    background-image:url(../static/img/puertaRecorte.jpeg);
    background-size:cover;
    min-height: 100vh;
    width: 100%;

}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.header h2{
    font-family: Georgia, 'Times New Roman', Times, serif;

    color:rgb(34, 34, 47);
}
#logo{
    /* position: relative; */
    padding-left: 50px;
    padding-top: 10px;
    animation: bounce;
    animation-duration: 3s;
}
#logo hover{
    animation: bounce;
    animation-duration: 3s infinite ;
}
.nav{
    padding: 3px;
    /* opacity: 50%; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    padding-top: 5px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background: linear-gradient(to bottom, rgb(247, 118, 247),30%, rgb(243, 222, 243, 0.1));


    /*
    background: #d9a7c7; /* fallback for old browsers degradado lineal */
    /*background: -webkit-linear-gradient(to bottom, #d9a7c7, #fffcdc); /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to bottom, #d9a7c7, #fffcdc); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/

}

.nav-links{
    display: flex;
    color:rgb(34, 34, 47);
    list-style: none;
    gap: 100px;
    margin-left: 400px;
    
    
};
a{
    text-decoration: none;
}
.nav-links a{

    font-weight: bold;
    text-decoration: none;
}

.img{
    width: 300px;
    
}

.main{
    margin-left: 15px;
    margin-top: 5px;
    padding: 15px;

}
.main a{
    text-decoration: none;
    font-weight: bold;
}
.titulo p{
    padding: 15px;
    font-size:15px;
    font-family: Playfair Display;

}

.titulo h1{
    text-align: center; 
    color:rgb(95, 11, 180);
    text-shadow: -1px -3px 20px rgb(240, 237, 237);
    -webkit-text-stroke: 1px rgb(229, 169, 238);
    font-size: 60px;
}
.titulo h2{
    text-align: center; 
    font-style: italic;
    font-size: 40px; 
    color:rgb(154, 10, 187);
    text-shadow: -2px -4px 30px rgb(13, 12, 12);
    -webkit-text-stroke: 1px rgb(229, 169, 238);

}

.about{
    display: flex;
    justify-content: end;
    flex-direction: row;
}

/* .footer {
    
    display: flex;
    gap: 20px;
    background-color: rgb(222, 157, 249);
    margin-top: 30px;

} */
.footer {
    background-color: var(--primary-color);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    padding: 5px;
}
.footer li{
    list-style: none;

}
.footer p{
    margin-top: 5px;
    font-size: small;
}
.main d {
    text-align: center;
    background-image: url(./img/cartelConAbejorro.jpg);
    background-size:cover;
    background-position: center;
}
#about {
    width: 800px;
    text-align: center;
    margin:auto
}
.ab-image{
    background-image: url(../static/img/collage6x5.jpg);
    background-size: cover;
    height: 650px;;
}
/*Cards*/

.cards{
    display:flex;
    margin:0;
    padding:0;
    min-height: 100vh;
    background: #444;
    justify-content: center;
    align-items: center;
    font-family: arial;
  }
  
  .container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    
  }
  
  .container .card{
    position: relative;
  }
  
  