<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/6ea7402f69.js" crossorigin="anonymous"></script>
    <title>Contactos</title>
</head>
<body>
    <header  class="header">
        <nav class="nav">
            <div  id="logo">
                <img src="../static/img/LogoKultrunTransp(2).png" width="100px">
            </div>
            <ul class="nav-links">
                <li>
                    <a  href="../index.html">Home</a>
                </li>
                <li>
                    <a href="./about.html">Acerca de nosotrxs</a>
                </li>
                <li>
                    <a href="./contact.html">Contacto</a>
                </li>
            </ul>
        </nav>
        <h2 style="text-align: center; padding-top:1px;">El Kultrun de Isa</h2>
    </header>
    <main class="main">
        <p>Esperamos tus consultas y sugerencias en: <a href="mailto:elkultrundeisa@gmail.com"> elkultrundeisa@gmail.com</a></p>
        
        <div style="text-align: center;" >
            <img src="../static/img/arteEnTodasPartes.jpg" width="400px">
        </div>
    </main>

    <footer class="footer">
        <ul class="nav-links">
            <li>
                <a href="https://www.instagram.com/elkultrundeisaarteenvitraux/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://ar.pinterest.com/isabelmesina/el-kultrun-de-isa-vitraux-y-artes-del-vidrio/" target="_blank"><i class="fa fa-pinterest-square" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/elkultrundeisa/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://wa.me/541131317947" target="_blank"><i class="fa-brands fa-square-whatsapp"></i>
                </a>
            </li>
        </ul>
        <div>
            <p style="text-align: center"> Copyright © Todos los derechos reservados El Kultrun de Isa</p>
    
        </div>
    
    </footer>
</body>
</html>